<h1>Migrant Details</h1>

<div>
<h2>Circle {{circle}}</h2>
Number of migrants: {{data.length}}
</div>

<table class="table">
    <tr>
        <th>#</th>
	<th>Name</th>
	<th>Address</th>
	<th>District</th>
	<th>State</th>
	<th>Verification</th>
	<th>Phone</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.refNum}}</td>
	<td>{{this.name}}</td>
	<td>{{this.address}}</td>
	<td>{{this.district}}</td>
	<td>{{this.state}}</td>
	<td>{{this.verification}}</td>
	<td>{{this.phoneNum}}</td>
    </tr>
    {{/each}}
</table>

<nav aria-label="Pages listing all migrants">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/migrant/{{circle}}?pageNum=1&pageSize={{pageSize}}">
        First
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/migrant/{{circle}}?pageNum={{prevPage}}&pageSize={{pageSize}}">
        Prev
      </a>
    </li>
    <li class="page-item disabled">
      <span class="page-link">
      Page {{currentPage}}
      </span>
    </li>
    <li class="page-item">
      <a class="page-link" href="/migrant/{{circle}}?pageNum={{nextPage}}&pageSize={{pageSize}}">
        Next
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/migrant/{{circle}}?pageNum={{numOfPages}}&pageSize={{pageSize}}">
        Last
      </a>
    </li>
  </ul>
</nav>

<div>
Number of pages - {{numOfPages}}
</div>
