<h1>Migrant Details</h1>

{{#if circle}}
<h2> Circle - {{circle}} </h2>
{{/if}}

<table class="table">
    <tr>
        <th>#</th>
	<th>Name</th>
	<th>Address</th>
	<th>District</th>
	<th>State</th>
	<th>Phone</th>
	<th>Verification</th>
	<th>Circle</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.refNum}}</td>
	<td>{{this.name}}</td>
	<td>{{this.address}}</td>
	<td>{{this.district}}</td>
	<td>{{this.state}}</td>
	<td>{{this.phoneNum}}</td>
	<td>{{this.verification}}</td>
	<td>{{this.circle}}</td>
    </tr>
    {{/each}}
</table>

<div>
Showing {{data.length}} of {{totalMigrants}} records
</div>


{{#with pagination as | pagination |}}
<nav aria-label="Pages listing migrants">
  <ul class="pagination">

    {{#if pagination.hasPrev}}    
      <li class="page-item">
        <a class="page-link" href="/migrant/list/{{../circle}}?pageNum=1&pageSize={{pagination.pageSize}}">
          First
        </a>
      </li>

      <li class="page-item">
        <a class="page-link" href="/migrant/list/{{../circle}}?pageNum={{pagination.prevPage}}&pageSize={{pagination.pageSize}}">
          Prev
        </a>
      </li>
    {{else}}
      <li class="page-item disabled">
          <span class="page-link">
            First
          </span>
      </li>
      <li class="page-item disabled">
          <span class="page-link">
            Prev
          </span>
      </li>
    {{/if}}

    <li class="page-item disabled">
      <span class="page-link">
        Page {{pagination.currPage}}
      </span>
    </li>

    {{#if pagination.hasNext}}
      <li class="page-item">
        <a class="page-link" href="/migrant/list/{{../circle}}?pageNum={{pagination.nextPage}}&pageSize={{pagination.pageSize}}">
          Next
        </a>
      </li>
  
      <li class="page-item">
        <a class="page-link" href="/migrant/list/{{../circle}}?pageNum={{pagination.numOfPages}}&pageSize={{pagination.pageSize}}">
          Last
        </a>
      </li>
    {{else}}
      <li class="page-item disabled">
          <span class="page-link">
            Next 
          </span>
      </li>
      <li class="page-item disabled">
          <span class="page-link">
            Last 
          </span>
      </li>
    {{/if}}

  </ul>
</nav>

<div>
Number of pages - {{pagination.numOfPages}}
</div>
{{/with}}
