<h1>Migrant Details</h1>

<div>
Number of migrants: {{totalMigrants}}
</div>

<table class="table">
    <tr>
        <th>#</th>
	<th>Name</th>
	<th>Address</th>
	<th>District</th>
	<th>State</th>
	<th>Phone</th>
	<th>Verification</th>
	<th>Circle</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.refNum}}</td>
	<td>{{this.name}}</td>
	<td>{{this.address}}</td>
	<td>{{this.district}}</td>
	<td>{{this.state}}</td>
	<td>{{this.phoneNum}}</td>
	<td>{{this.verification}}</td>
	<td>{{this.circle}}</td>
    </tr>
    {{/each}}
</table>

<div>

<span>
<a href="/migrant/list?pageNum=1&pageSize={{pageSize}}">
First
</a>
</span>

<span>
<a href="/migrant/list?pageNum={{prevPage}}&pageSize={{pageSize}}">
Prev
</a>
</span>

<span>
Page {{currentPage}}
</span>

<span>
<a href="/migrant/list?pageNum={{nextPage}}&pageSize={{pageSize}}">
Next
</a>
</span>

<span>
<a href="/migrant/list?pageNum={{numOfPages}}&pageSize={{pageSize}}">
Last
</a>
</span>

</div>

<div>
Number of pages - {{numOfPages}}
</div>
